/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 05-11-2018, 21:52:55
    Author     : Eduardo
*/


.fondo_verde{
	background-color: #6FC041;
	color: white;
	text-align: center;
	height: 200px;
	padding-top: 45px;
	padding-bottom: 45px;
}

.centrado{
	text-align: center;
}

.margen{
	margin-top: 50px;
}

.img-responsive{
	max-width: 100%;
}

.jumbotron {
  background-color: white;
}

.menos_espacios{
  padding-bottom: 32px;
  padding-top: 40px;
  margin-bottom: 0px;
}